.header {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.icons {
  color: #fff;
  font-size: 25px;
  text-align: center;
}

.icons-color {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  margin: 5px;
  transition: font-size ease .5;
}

.icons-color:hover {
  text-decoration: none;
  color: grey;
}

.text-decoration {
  text-decoration: none;
  color: #000;
}

.text-decoration:hover {
  text-decoration: none;
  color: grey;
}

