// Footer 
footer {
    background-color: red;
    color: white;
    .box.copyright {
       
        justify-content: space-between;
    }
    
    .list-copyright {
        li {
            display: inline-block;
            margin: 0 $gutter;
        }
    }
}