html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}


/* #simple-widgets {

  background-image: url(../img/bg-simple-widgets.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top center;
  height: 938px;

} */

/* #download {
  background-image: url(../img/bg-download.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top center;
} */

.download {
  background-color: #648cff;
  clear: both;
}

.list-icons {
  display: inline-block;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 659px;
}


