html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}


.widgets-title h2 {
  text-align: center;
  color: #648cff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 28px;
  padding-top: 100px;
}

.widgets-text {
  text-align: center;
  color: #c3c3c3;
  font-size: 15px;
  margin: 0 auto;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 659px;
}


footer{
  background-color: #353854;
  height: auto;
  padding-top: 50px;
}



.text-footer {
  color: #565b87;
  text-align: right;
}

hr {  
  margin-top: 34px;
  margin-bottom: 49px;
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
  border-top: 1px solid #565b87;
  
}



.scrollup {

    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s,background-color .5s;
    -moz-transition: opacity .5s,background-color .5s;
    -webkit-transition: opacity .5s,background-color .5s;

}

.fa {

  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
      font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


/* xs */
@media (min-width: 320px) and (max-width: 479px) { 
  .footer-logo {
    display: inline-block;
    width: 127px;
  
  }
  
  .navbar-brand-footer {
  
    float: left;
    height: 50px;
    padding: 15px 0px 0px 0;
    font-size: 15px;
    line-height: 20px;
  
  }
  
}

@media (min-width: 480px) and (max-width: 767px) { 
  .footer-logo {
    display: inline-block;
    width: 127px;
  
  }
  
  .navbar-brand-footer {
  
    float: left;
    height: 50px;
    padding: 15px 0px 0px 0;
    font-size: 15px;
    line-height: 20px;
  
  }
  
}

/* sm */
@media (min-width: 768px) and (max-width: 992px) { 
  


}


