body {
  background-color: #fff;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  line-height: normal
}

a {
  text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  margin: 0
}

.clamo-btn,
.clamo-btn-navigation,
.clamo-btn-home,
.clamo-btn-bars,
.clamo-btn-search,
.clamo-btn-header,
.clamo-pagination-btn,
.clamo-tags-wp .clamo-btn-tag,
.clamo-tags-wp .clamo-btn-toc,
.clamo-btn-share,
.clamo-btn-tw,
.clamo-btn-fb,
.clamo-btn-gp,
.clamo-btn-comments,
.clamo-btn-scroll-mobile,
.clamo-btn-scrolltopdekstop,
.clamo-btn-error,
.clamo-button {
  -webkit-tap-highlight-color: transparent;
  border-radius: 6.25rem;
  font-size: 1.125rem;
  height: 3rem;
  line-height: 3rem;
  margin: 0;
  padding: 0;
  transition: none;
  width: 3rem
}

.clamo-btn-navigation,
.clamo-btn-home,
.clamo-btn-bars {
  background: rgba(255, 255, 255, 0.7);
  color: #000;
  position: absolute;
  top: 1.25rem
}

.clamo-btn-navigation:focus,
.clamo-btn-home:focus,
.clamo-btn-bars:focus,
.clamo-btn-navigation:hover,
.clamo-btn-home:hover,
.clamo-btn-bars:hover {
  background: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #000
}

.clamo-btn-home {
  left: .9375rem
}

.clamo-btn-bars {
  right: .9375rem
}

.clamo-btn-search {
  background: rgba(255, 255, 255, 0.7);
  border: .0625rem solid #E5E5E5;
  color: #000;
  font-size: 1.125rem;
  position: absolute;
  right: 0rem;
  top: 1.25rem
}

.clamo-btn-search:focus,
.clamo-btn-search:hover {
  background: rgba(255, 255, 255, 0.7);
  color: #000
}

.clamo-btn-search-close {
  font-size: 1.25rem;
  padding: .3125rem;
  position: absolute;
  right: 1.0625rem;
  top: .5625rem
}

.clamo-btn-search-close:hover {
  cursor: pointer
}

.clamo-btn-header-wp {
  margin-bottom: 1.875rem
}

.clamo-btn-header {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: inline-block;
  margin: 0 .3125rem .75rem
}

.clamo-btn-header:focus,
.clamo-btn-header:hover {
  background: #000;
  color: #fff
}

.clamo-pagination-btn {
  background-color: transparent;
  border: .0625rem solid #E5E5E5;
  color: #555;
  font-family: Roboto;
  font-size: .875rem;
  font-weight: bold
}

.clamo-pagination-btn .fa {
  font-size: 1rem;
  font-weight: bold
}

.clamo-pagination-btn:focus,
.clamo-pagination-btn:hover {
  background: transparent;
  color: #ea5a0b;
  transition: none
}

@media screen and (max-width: 39.9375em) {
  .clamo-pagination-btn span {
      display: none
  }
}

@media screen and (min-width: 40em) {
  .clamo-pagination-btn {
      min-width: 8.125rem
  }
  .clamo-pagination-btn .fa {
      display: none
  }
}

.clamo-tags-wp {
  margin-bottom: 1.875rem
}

.clamo-tags-wp .clamo-btn-tag,
.clamo-tags-wp .clamo-btn-toc {
  background-color: transparent;
  border: .0625rem solid #E5E5E5;
  color: #555;
  font-family: Roboto;
  font-size: .875rem;
  font-weight: bold;
  margin: 0 .625rem .625rem 0;
  padding: 0 1.25rem;
  width: auto
}

.clamo-tags-wp .clamo-btn-tag:focus,
.clamo-tags-wp .clamo-btn-toc:focus,
.clamo-tags-wp .clamo-btn-tag:hover,
.clamo-tags-wp .clamo-btn-toc:hover {
  border: .0625rem solid #ea5a0b;
  color: #ea5a0b;
  text-decoration: none
}

.clamo-social-share-wp {
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 1.75rem 0 2.5rem;
  max-width: 100%
}

.clamo-btn-share,
.clamo-btn-tw,
.clamo-btn-fb,
.clamo-btn-gp {
  margin-right: .9375rem;
  background: transparent;
  width: 100%
}

@media screen and (min-width: 40em) {
  .clamo-btn-share,
  .clamo-btn-tw,
  .clamo-btn-fb,
  .clamo-btn-gp {
      margin-right: 1.875rem
  }
}

.clamo-btn-share:last-child,
.clamo-btn-tw:last-child,
.clamo-btn-fb:last-child,
.clamo-btn-gp:last-child {
  margin-right: 0
}

.clamo-btn-tw {
  border: .0625rem solid #1DA1F2;
  color: #1DA1F2
}

.clamo-btn-tw:focus,
.clamo-btn-tw:hover {
  background-color: #1DA1F2;
  color: #fff
}

.clamo-btn-fb {
  border: 1px solid #3B5998;
  color: #3B5998
}

.clamo-btn-fb:focus,
.clamo-btn-fb:hover {
  background-color: #3B5998;
  color: #fff
}

.clamo-btn-gp {
  border: 1px solid #DD4B39;
  color: #DD4B39
}

.clamo-btn-gp:focus,
.clamo-btn-gp:hover {
  background-color: #DD4B39;
  color: #fff
}

.clamo-btn-comments,
.clamo-btn-scroll-mobile {
  background: transparent;
  border: .0625rem solid #E5E5E5;
  color: #555;
  font-family: Roboto;
  font-size: .875rem;
  font-weight: bold;
  width: 100%
}

.clamo-btn-comments:focus,
.clamo-btn-scroll-mobile:focus,
.clamo-btn-comments:hover,
.clamo-btn-scroll-mobile:hover {
  background: transparent;
  color: #ea5a0b
}

.clamo-scrolltopdekstop {
  bottom: 2.0625rem;
  position: fixed;
  right: 1.25rem
}

.clamo-btn-scrolltopdekstop {
  background: transparent;
  border: .0625rem solid #E5E5E5
}

.clamo-btn-scrolltopdekstop .fa {
  color: #555;
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  right: 1rem;
  top: .9375rem
}

.clamo-btn-scrolltopdekstop:focus,
.clamo-btn-scrolltopdekstop:hover {
  background: transparent
}

.clamo-btn-scrolltopdekstop:focus .fa,
.clamo-btn-scrolltopdekstop:hover .fa {
  color: #ea5a0b
}

@media screen and (max-width: 39.9375em) {
  .clamo-btn-scrolltopdekstop {
      display: none
  }
}

.clamo-btn-scroll-mobile {
  margin: 0 0 2.5rem
}

.clamo-btn-error,
.clamo-button {
  background-color: #5ba4e5;
  font-family: Roboto;
  font-size: .875rem;
  font-weight: bold;
  margin-bottom: 3.75rem;
  padding: 0 1.25rem;
  text-align: center;
  width: auto
}

.clamo-btn-error:focus,
.clamo-button:focus,
.clamo-btn-error:hover,
.clamo-button:hover {
  background-color: #555;
  color: #fff;
  outline: none;
  text-decoration: none
}

.clamo-button {
  margin: 1.25rem 0
}

.clamo-btn-toc {
  border: .0625rem solid #E5E5E5;
  border-radius: 6.25rem;
  color: #555;
  font-family: Roboto;
  font-size: .875rem;
  font-weight: bold;
  margin: 0 .625rem .625rem 0;
  padding: .9375rem;
  width: 100%
}

.clamo-btn-toc:focus {
  outline: none
}

.clamo-menu-wp {
  display: none;
  padding: 0 .9375rem;
  position: absolute;
  top: 5.625rem;
  width: 100%;
  z-index: 100
}

.clamo-menu {
  background-color: #000;
  border-radius: .3125rem;
  box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.25);
  padding: 0 .625rem;
  text-align: center
}

.clamo-menu a {
  border-bottom: .0625rem solid rgba(68, 68, 68, 0.5);
  color: #fff;
  display: flex;
  font-size: .875rem;
  font-weight: bold;
  justify-content: center;
  padding: .9375rem .625rem
}

.clamo-menu a:focus,
.clamo-menu a:hover {
  color: #ea5a0b;
  text-decoration: none
}

.clamo-menu a:last-child {
  border: none
}

.arrow-up {
  color: #000;
  font-size: 30px;
  position: absolute;
  right: 30px;
  top: -22px
}

.clamo-sidebar {
  background-color: #222;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 28.125rem;
  position: relative
}

.clamo-sidebar:before {
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  content: " ";
  content: " ";
  height: 100%;
  height: 100%;
  left: 0;
  left: 0;
  position: absolute;
  position: absolute;
  top: 0;
  top: 0;
  width: 100%;
  width: 100%
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .clamo-sidebar {
      height: 43.75rem
  }
}

@media screen and (min-width: 64em) {
  .clamo-sidebar {
      height: 100vh !important;
      min-height: 100vh;
      position: fixed
  }
}

.clamo-header {
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%
}

.clamo-blog-logo {
  display: flex;
  margin: 0 auto;
  max-height: 3.125rem;
  width: auto
}

@media screen and (min-width: 40em) {
  .clamo-blog-logo {
      max-height: 4.6875rem
  }
}

@media screen and (min-width: 64em) {
  .clamo-blog-logo {
      max-height: 6.25rem
  }
}

.clamo-blog-name {
  color: #fff;
  display: inline-flex;
  font-size: 2rem;
  font-weight: bold;
  margin: 1.25rem .9375rem;
  text-shadow: 0 .0625rem 0 #000
}

.clamo-blog-name:focus,
.clamo-blog-name:hover {
  color: #fff;
  text-decoration: none
}

@media screen and (min-width: 40em) {
  .clamo-blog-name {
      font-size: 3rem;
      margin: 1.875rem 5rem .625rem
  }
}

@media screen and (min-width: 64em) {
  .clamo-blog-name {
      margin: 2.5rem .9375rem .625rem
  }
}

.clamo-blog-desc {
  color: #e7e7e7;
  font-size: 1rem;
  margin: 0 .9375rem 2.5rem;
  text-shadow: 0 .0625rem 0 #000
}

@media screen and (min-width: 40em) {
  .clamo-blog-desc {
      font-size: 1.25rem
  }
}

.clamo-content-wp {
  margin: 6.25rem .3125rem 1.25rem
}

@media screen and (min-width: 40em) {
  .clamo-content-wp {
      margin-top: 4.875rem
  }
}

.clamo-featured {
  color: #5ba4e5;
  position: absolute;
  top: -1.5625rem
}

@media screen and (min-width: 64em) {
  .clamo-featured {
      left: -1.5625rem;
      top: .625rem
  }
}

.clamo-hr-small {
  border-top: .0625rem solid #E5E5E5;
  position: relative;
  position: relative;
  width: 4.375rem
}

.clamo-date {
  color: #afafaf;
  display: inline-flex;
  font-family: Roboto;
  font-size: .875rem;
  font-weight: bold;
  margin: .625rem 0
}

.clamo-primary-tag {
  color: #000;
  display: inline-flex;
  font-family: Roboto;
  font-size: .875rem;
  font-weight: bold
}

.clamo-primary-tag span {
  color: #afafaf
}

.clamo-primary-tag:focus,
.clamo-primary-tag:hover {
  color: #000;
  text-decoration: underline
}

.clamo-title {
  color: #333;
  display: inline-block;
  font-size: 1.375rem;
  font-weight: bold
}

@media screen and (min-width: 40em) {
  .clamo-title {
      font-size: 2.125rem
  }
}

.clamo-title:focus,
.clamo-title:hover {
  color: #333;
  text-decoration: underline
}

.clamo-desc {
  color: #5E5E5E;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: .625rem 0
}

@media screen and (min-width: 40em) {
  .clamo-desc {
      font-size: 1.125rem;
      line-height: 1.75rem;
      margin-bottom: .9375rem
  }
}

@media screen and (min-width: 64em) {
  .clamo-desc {
      font-size: 1.25rem;
      line-height: 2rem
  }
}

.clamo-read-more {
  color: #5ba4e5;
  display: inline-block;
  font-family: Roboto;
  font-size: .875rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
  text-transform: capitalize
}

@media screen and (min-width: 40em) {
  .clamo-read-more {
      margin-bottom: 3.75rem
  }
}

.clamo-read-more .fa {
  margin-left: .625rem
}

.clamo-read-more .fa:focus,
.clamo-read-more .fa:hover {
  color: #5ba4e5;
  text-decoration: none
}

.clamo-read-more:focus,
.clamo-read-more:hover {
  color: #5ba4e5;
  text-decoration: underline
}

.clamo-error-wp {
  text-align: center
}

.clamo-error-code {
  color: #000;
  font-size: 2rem;
  font-weight: bold
}

.clamo-error-message {
  color: #555;
  font-size: 1rem;
  margin-bottom: 1.875rem
}

.clamo-comments-wp {
  margin: 1.25rem 0 2.5rem
}

@media screen and (min-width: 40em) {
  .clamo-comments-wp {
      margin: 2.5rem 0 3.75rem
  }
}

.clamo-pagination-wp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem
}

@media screen and (min-width: 40em) {
  .clamo-pagination-wp {
      margin-bottom: 3.75rem
  }
}

.clamo-pagination-page {
  color: #afafaf;
  font-family: Roboto;
  font-size: .875rem;
  font-weight: bold;
  line-height: 3rem;
  margin: 0
}

.clamo-author-name {
  color: #5ba4e5;
  display: inline-flex;
  font-family: Roboto;
  font-size: .875rem;
  font-weight: bold
}

.clamo-author-name:focus,
.clamo-author-name:hover {
  color: #5ba4e5;
  text-decoration: underline
}

.clamo-post-title {
  color: #333;
  font-size: 1.875rem;
  font-weight: bold;
  margin: 0 0 1.25rem
}

@media screen and (min-width: 40em) {
  .clamo-post-title {
      font-size: 3rem;
      margin-bottom: 1.875rem
  }
}

.clamo-post-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .3125rem;
  height: 13.75rem;
  margin: 0 0 1.25rem
}

@media screen and (min-width: 40em) {
  .clamo-post-img {
      height: 23.75rem;
      margin: 0 0 1.875rem
  }
}

.clamo-post {
  border-bottom: .0625rem dashed #E5E5E5;
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem
}

.clamo-post hr {
  border: none;
  border-top: 1px solid #E5E5E5;
  margin: 2.5rem 0
}

.clamo-post h1,
.clamo-post h2,
.clamo-post h3,
.clamo-post h4,
.clamo-post h5,
.clamo-post h6 {
  color: #333;
  font-weight: bold;
  margin: 2.5rem 0 1.25rem
}

.clamo-post h1 {
  font-size: 1.875rem;
  font-weight: bold
}

@media screen and (min-width: 40em) {
  .clamo-post h1 {
      font-size: 3rem
  }
}

.clamo-post h2 {
  font-size: 1.75rem
}

@media screen and (min-width: 40em) {
  .clamo-post h2 {
      font-size: 2.375rem
  }
}

.clamo-post h3 {
  font-size: 1.625rem
}

@media screen and (min-width: 40em) {
  .clamo-post h3 {
      font-size: 2rem
  }
}

.clamo-post h4 {
  font-size: 1.5rem
}

@media screen and (min-width: 40em) {
  .clamo-post h4 {
      font-size: 1.75rem
  }
}

.clamo-post h5 {
  font-size: 1.375rem
}

@media screen and (min-width: 40em) {
  .clamo-post h5 {
      font-size: 1.375rem
  }
}

.clamo-post h6 {
  font-size: 1.125rem
}

@media screen and (min-width: 40em) {
  .clamo-post h6 {
      font-size: 1.125rem
  }
}

.clamo-post p {
  color: #333;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: .3125rem 0 1.25rem
}

.clamo-post p strong {
  font-weight: bold
}

@media screen and (min-width: 40em) {
  .clamo-post p {
      font-size: 1.25rem;
      line-height: 2rem
  }
}

.clamo-post a {
  color: #ea5a0b;
  display: inline
}

.clamo-post a:focus,
.clamo-post a:hover {
  text-decoration: underline
}

.clamo-post ol,
.clamo-post ul {
  margin-bottom: 1.25rem
}

.clamo-post ol li,
.clamo-post ul li {
  color: #333;
  font-size: 1rem;
  line-height: 1.375rem;
  margin-bottom: .625rem
}

@media screen and (min-width: 40em) {
  .clamo-post ol li,
  .clamo-post ul li {
      font-size: 1.25rem;
      line-height: 1.6875rem
  }
}

.clamo-post code {
  background: transparent;
  border: 1px solid #E5E5E5;
  border-radius: .3125rem;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 1.125rem;
  font-weight: normal;
  padding: 0 .1875rem
}

.clamo-post pre {
  background: transparent;
  border: none;
  border: 1px solid #E5E5E5;
  border-radius: .3125rem;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 1.125rem;
  font-weight: normal;
  padding: 1.25rem
}

.clamo-post pre code {
  border: none
}

.clamo-post blockquote {
  background: transparent;
  border-left: .0625rem solid #E5E5E5;
  margin: 1.25rem 0;
  padding: .625rem 1.25rem
}

.clamo-post blockquote p {
  font-style: italic;
  margin: 0
}

.clamo-post img {
  height: auto;
  max-width: 100%
}

.clamo-post iframe {
  margin-top: 1.875rem
}

.clamo-static-page {
  border: none
}

.clamo-post-footer {
  margin-top: 1.875rem;
  padding-bottom: 1.25rem
}

.clamo-post-footer img {
  border-radius: 6.25rem;
  display: block;
  height: 4.6875rem;
  margin: 0 0 1rem;
  width: 4.6875rem
}

@media screen and (min-width: 40em) {
  .clamo-post-footer img {
      float: left;
      margin-right: 1.25rem
  }
}

.clamo-post-footer .clamo-post-footer-author {
  color: #555;
  font-size: 1.25rem;
  font-weight: bold
}

.clamo-post-footer .clamo-post-footer-author:hover {
  color: #5ba4e5
}

.clamo-post-footer .clamo-post-footer-desc {
  color: #333;
  font-size: .875rem;
  line-height: 1.125rem;
  margin-bottom: 0;
  margin-top: .375rem
}

@media screen and (min-width: 40em) {
  .clamo-post-footer .clamo-post-footer-desc {
      font-size: 1rem;
      line-height: 1.3125rem
  }
}

.clamo-post-prev-next-wp .clamo-prev-next {
  margin-bottom: 2.5rem
}

.clamo-post-prev-next-wp .clamo-prev-next-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .3125rem;
  float: left;
  height: 4.8125rem;
  margin-right: 1.875rem;
  width: 4.8125rem
}

.clamo-post-date {
  color: #afafaf;
  display: block;
  font-family: Roboto;
  font-size: .875rem;
  margin-bottom: .375rem
}

.clamo-post-desc {
  color: #000;
  font-size: .875rem
}

.clamo-post-desc:focus,
.clamo-post-desc:hover {
  color: #5ba4e5
}

@media screen and (min-width: 40em) {
  .clamo-scroll-wp {
      display: none
  }
}

.clamo-scroll-wp-footer {
  margin-bottom: 0
}

figure {
  margin: 0 auto 1.25rem
}

figcaption {
  font-style: italic;
  margin-top: .625rem;
  text-align: center
}

.kg-embed-card iframe {
  margin: 0 auto
}

.kg-embed-card .fluid-width-video-wrapper {
  padding: 0
}

.kg-embed-card .fluid-width-video-wrapper iframe {
  margin: 0 auto
}

.twitter-tweet {
  margin: 0 auto
}

.clamo-subscribe-wp {
  background: rgba(91, 164, 229, 0.1);
  border: 1px solid #E5E5E5;
  border-radius: .1875rem;
  margin-bottom: 2.5rem;
  padding: 1.875rem 1.25rem;
  text-align: center
}

@media screen and (min-width: 40em) {
  .clamo-subscribe-wp {
      margin: 1.25rem 0 3.75rem;
      padding: 1.875rem 2.5rem
  }
}

@media screen and (min-width: 40em) {
  .clamo-subscribe-wp {
      padding: 1.875rem 2.8125rem
  }
}

.clamo-sub-title,
.clamo-private-title {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: normal;
  margin: 0
}

@media screen and (min-width: 40em) {
  .clamo-sub-title,
  .clamo-private-title {
      font-size: 2rem
  }
}

.clamo-private-title {
  margin-bottom: 1.875rem
}

.clamo-sub-desc {
  color: #555;
  font-size: 1rem;
  margin: .625rem 0 1.875rem
}

.clamo-sub-desc span {
  color: #555
}

.clamo-sub-form {
  position: relative
}

.clamo-subscribe-email,
.private-login-password {
  background: #fff;
  border: 1px solid #E5E5E5 !important;
  border-radius: 6.25rem;
  box-shadow: none;
  box-sizing: border-box;
  height: 3rem;
  outline: none;
  text-align: center;
  width: 100%
}

.clamo-subscribe-email:focus,
.private-login-password:focus {
  border: 1px solid #E5E5E5 !important;
  box-shadow: none
}

@media screen and (min-width: 40em) {
  .clamo-subscribe-email,
  .private-login-password {
      padding-left: 1.25rem;
      text-align: left
  }
}

.clamo-btn-submit,
.clamo-btn-done,
.clamo-btn-forgot {
  background-color: #5ba4e5;
  border-radius: 6.25rem;
  color: #fff;
  font-family: Roboto;
  font-size: .875rem;
  font-weight: bold;
  height: 2.625rem;
  margin: .625rem 0 1.25rem;
  transition: none;
  width: 100%
}

@media screen and (min-width: 40em) {
  .clamo-btn-submit,
  .clamo-btn-done,
  .clamo-btn-forgot {
      height: 2.5rem;
      margin: 0;
      padding: 0 1.25rem;
      position: absolute;
      right: .25rem;
      top: .25rem;
      width: 100%;
      width: auto
  }
}

.clamo-btn-submit:focus,
.clamo-btn-done:focus,
.clamo-btn-forgot:focus,
.clamo-btn-submit:hover,
.clamo-btn-done:hover,
.clamo-btn-forgot:hover {
  background-color: #555;
  color: #fff;
  outline: none
}

@media screen and (min-width: 40em) {
  .clamo-btn-done {
      line-height: 2.5rem;
      margin: 0 auto;
      position: relative
  }
}

.clamo-sub-rss {
  color: #555;
  font-family: Roboto;
  font-size: .875rem;
  margin-top: 1.875rem
}

.clamo-sub-rss a {
  display: inline
}

.clamo-sub-rss span {
  color: #555;
  text-decoration: underline
}

.clamo-btn-forgot {
  background: #888;
  border: 1px solid #E5E5E5;
  color: #888
}

.clamo-btn-forgot:hover {
  background-color: #888;
  border: 1px solid #888;
  color: #fff
}

.clamo-pass-rec {
  color: #ea5a0b;
  font-family: Roboto;
  font-size: .875rem;
  margin-top: 1.875rem
}

.clamo-author-tag-wp {
  padding-bottom: 1.25rem
}

.clamo-author-tag-wp img {
  border-radius: 6.25rem;
  height: 4.6875rem;
  margin-right: .9375rem;
  width: 4.6875rem
}

@media screen and (min-width: 40em) {
  .clamo-author-tag-wp img {
      height: 7.5rem;
      margin-right: 0;
      width: 7.5rem
  }
}

.clamo-author-tag-info {
  border-bottom: .0625rem dashed #E5E5E5;
  margin-bottom: 2.5rem;
  padding-bottom: 1.25rem
}

@media screen and (min-width: 40em) {
  .clamo-author-tag-info {
      margin-bottom: 3.75rem
  }
}

.clamo-author-tag-info .clamo-author-tag-desc {
  font-size: 1.125rem;
  line-height: 1.4375rem;
  margin-top: .625rem
}

@media screen and (min-width: 40em) {
  .clamo-author-tag-info .clamo-author-tag-desc {
      font-size: 1.25rem;
      line-height: 1.625rem
  }
}

.clamo-btn-social {
  background-color: #afafaf;
  border-radius: 6.25rem;
  font-size: .875rem;
  height: 1.875rem;
  line-height: 1.875rem;
  margin: 0 .9375rem 0 0;
  padding: 0;
  vertical-align: bottom;
  width: 1.875rem
}

.clamo-btn-social:focus,
.clamo-btn-social:hover {
  background-color: #444;
  color: #fff
}

@media screen and (min-width: 64em) {
  .clamo-btn-social {
      height: 1.5rem;
      line-height: 1.5rem;
      margin-right: .625rem;
      width: 1.5rem
  }
}

.clamo-text {
  display: none;
  margin: 0
}

@media screen and (min-width: 40em) {
  .clamo-text {
      color: #333;
      display: inline-block;
      font-size: 2.5rem;
      font-weight: bold;
      margin-right: .3125rem
  }
}

.clamo-name {
  color: #333;
  display: inline-block;
  font-family: Raleway;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.75rem;
  margin: 0
}

@media screen and (min-width: 40em) {
  .clamo-name {
      font-size: 2.5rem
  }
}

.clamo-post-count {
  color: #ccc;
  display: inline-block;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 0 .625rem;
  vertical-align: .25rem
}

@media screen and (min-width: 40em) {
  .clamo-post-count {
      font-size: 1.5rem
  }
}

.clamo-loc {
  color: #afafaf;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: bold;
  margin: 0
}

.clamo-loc span {
  margin-right: .625rem
}

.clamo-loc a {
  color: #ea5a0b;
  display: inline
}

.clamo-loc a:focus,
.clamo-loc a:hover {
  text-decoration: underline
}

.clamo-footer {
  border-top: 1px solid #E5E5E5;
  margin: 0 .3125rem 1.875rem;
  padding-top: 1.25rem
}

.clamo-footer p {
  color: #000;
  font-family: Roboto;
  font-size: .875rem;
  line-height: 1.125rem
}

.clamo-footer a {
  color: #000;
  font-weight: bold
}

.clamo-footer a:focus,
.clamo-footer a:hover {
  color: #000;
  text-decoration: underline
}

.clamo-search-wp {
  margin: 0 .3125rem;
  position: relative
}

.clamo-search-wp .clamo-search-input-wp {
  display: none;
  height: 3rem;
  line-height: 3rem;
  position: absolute;
  right: 0rem;
  top: 1.25rem;
  width: 100%;
  z-index: 99
}

.clamo-search-wp .clamo-search-field {
  border: .0625rem solid #E5E5E5;
  border-radius: 1.875rem;
  box-shadow: none;
  box-sizing: border-box;
  color: #222;
  height: 3rem;
  line-height: 3rem;
  outline: none;
  padding-left: 1.25rem;
  width: 100%
}

.clamo-search-wp .clamo-search-field::-ms-clear {
  display: none
}

.clamo-search-result {
  background: #fff;
  border: 1px solid #E5E5E5;
  border-radius: 1.5625rem;
  box-sizing: border-box;
  display: none;
  margin: 4.875rem .3125rem 0rem;
  padding: 1.125rem 1.25rem
}

.clamo-search-result .clamo-search-item {
  border-bottom: 1px dotted #E5E5E5;
  display: block;
  padding: 1.125rem 0
}

.clamo-search-result .clamo-search-item h2,
.clamo-search-result .clamo-search-item h4 {
  color: #333
}

.clamo-search-result .clamo-search-item h2 {
  font-size: 1.25rem;
  font-weight: bold
}

.clamo-search-result .clamo-search-item h4 {
  font-size: .875rem
}

.clamo-search-result .clamo-search-item:hover {
  color: #ea5a0b
}

.clamo-search-result .clamo-search-item:last-child {
  border: none;
  padding-bottom: 1.125rem
}

#golemio-toc {
  background: #fff;
  border: 1px solid #E5E5E5;
  border-radius: 1.5625rem;
  box-sizing: border-box;
  margin-bottom: 1.5625rem;
  padding: 1.125rem 1.25rem
}

#golemio-toc ul {
  margin: 0;
  padding: 0
}

#golemio-toc li {
  list-style: none;
  margin-bottom: .5rem
}

#golemio-toc li:last-child {
  margin: 0
}

#golemio-toc li a {
  color: #333;
  font-size: .875rem;
  font-weight: bold
}

#golemio-toc li a:before {
  color: #afafaf;
  content: "- "
}

#golemio-toc li a:hover {
  color: #ea5a0b
}

#golemio-toc .gtoc-H3 {
  margin-left: .625rem
}

.kg-gallery-container {
  display: flex;
  flex-direction: column;
  margin: 1.5em auto;
  max-width: 1040px;
  width: 100%
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center
}

.kg-gallery-image img {
  border-radius: 5px;
  display: block;
  height: 100%;
  margin: 0;
  width: 100%
}

.kg-gallery-row:not(:first-of-type) {
  margin: 0.75em 0 0
}

.kg-gallery-image:not(:first-of-type) {
  margin: 0 0 0 0.75em
}

.kg-gallery-container {
  display: flex;
  flex-direction: column;
  margin: 1.5em auto;
  max-width: 65rem;
  width: 100%
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative
}

.kg-gallery-image {
  position: relative
}

.kg-gallery-image a:focus {
  outline: none
}

.kg-gallery-image a:before {
  background: linear-gradient(0deg, rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5));
  border-radius: .3125rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  color: #fff;
  content: "\f00e";
  display: flex;
  flex-direction: column;
  font-family: "FontAwesome";
  font-size: 2rem;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: absolute;
  text-align: center;
  transition: all ease 0.3s;
  width: 100%
}

.kg-gallery-image a:hover:before {
  opacity: 1
}

.kg-gallery-image img {
  border-radius: .3125rem;
  display: block;
  height: 100%;
  margin: 0;
  width: 100%
}

.kg-gallery-row:not(:first-of-type) {
  margin: 0.75em 0 0
}

.kg-gallery-image:not(:first-of-type) {
  margin: 0 0 0 0.75em
}

figure {
  margin: 0 auto 2.5rem
}

figcaption {
  color: #333;
  font-size: 1.125rem;
  font-style: italic;
  margin-top: .875rem;
  text-align: center
}

.kg-embed-card iframe {
  margin: 0 auto
}

.kg-embed-card .fluid-width-video-wrapper {
  padding: 0
}

.kg-embed-card .fluid-width-video-wrapper iframe {
  margin: 0 auto
}


/*# sourceMappingURL=clamo.css.map */