.sl-wrapper .sl-close:focus,
.sl-wrapper .sl-navigation button:focus {
    outline: 0
}

body.hidden-scroll {
    overflow: hidden
}

.sl-overlay {
    background: #fff;
    bottom: 0;
    display: none;
    left: 0;
    opacity: .9;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1050
}

.sl-wrapper .sl-close,
.sl-wrapper .sl-counter {
    margin-top: -14px;
    top: 30px;
    display: none;
    position: fixed
}

.sl-wrapper {
    z-index: 1040
}

.sl-wrapper button {
    background: #fff;
    border: 1px solid #E5E5E5;
    border-radius: 100px;
    cursor: pointer;
    font-size: 28px;
    padding: 0
}

.sl-wrapper button:hover {
    border: 1px solid #EA5A0B;
    color: #EA5A0B
}

.sl-wrapper .sl-close {
    color: #555;
    font-size: 16px;
    height: 48px;
    line-height: 30px;
    margin-right: -14px;
    right: 30px;
    width: 48px;
    z-index: 1060
}

.sl-wrapper .sl-counter {
    border: none;
    color: #333;
    font-family: Raleway;
    font-size: 20px;
    height: 30px;
    left: 30px;
    line-height: 32px;
    margin-left: -14px;
    padding: 0 8px;
    z-index: 1060
}

.sl-wrapper .sl-navigation {
    display: none;
    width: 100%
}

.sl-wrapper .sl-navigation button {
    color: #555555;
    display: block;
    height: 48px;
    line-height: 30px;
    margin-top: -22px;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 48px;
    z-index: 1060
}

.sl-wrapper .sl-navigation button:hover {
    border: 1px solid #EA5A0B;
    color: #EA5A0B
}

.sl-wrapper .sl-navigation button.sl-next {
    font-size: 16px;
    right: 5px
}

.sl-wrapper .sl-navigation button.sl-prev {
    font-size: 16px;
    left: 5px
}

.sl-wrapper .sl-image {
    -ms-touch-action: none;
    position: fixed;
    touch-action: none;
    z-index: 10000
}

.sl-wrapper .sl-image img {
    border: 0;
    display: block;
    margin: 0;
    padding: 0
}

.sl-wrapper .sl-image iframe {
    background: #000;
    border: 0
}

@media (min-width:35.5em) {
    .sl-wrapper .sl-navigation button {
        width: 48px
    }
    .sl-wrapper .sl-navigation button.sl-next {
        font-size: 16px;
        right: 10px
    }
    .sl-wrapper .sl-navigation button.sl-prev {
        font-size: 16px;
        left: 10px
    }
    .sl-wrapper .sl-image iframe,
    .sl-wrapper .sl-image img {
        border: 0
    }
}

@media (min-width:50em) {
    .sl-wrapper .sl-navigation button {
        width: 48px
    }
    .sl-wrapper .sl-navigation button.sl-next {
        font-size: 16px;
        right: 20px
    }
    .sl-wrapper .sl-navigation button.sl-prev {
        font-size: 16px;
        left: 20px
    }
    .sl-wrapper .sl-image iframe,
    .sl-wrapper .sl-image img {
        border: 0
    }
}

.sl-wrapper .sl-image .sl-caption {
    background: rgba(0, 0, 0, .8);
    bottom: 0;
    color: #fff;
    display: none;
    font-size: 1rem;
    left: 0;
    padding: 10px;
    position: absolute;
    right: 0
}

.sl-wrapper .sl-image .sl-caption.pos-top {
    bottom: auto;
    top: 0
}

.sl-wrapper .sl-image .sl-caption.pos-outside {
    bottom: auto
}

.sl-wrapper .sl-image .sl-download {
    bottom: 5px;
    color: #000;
    display: none;
    position: absolute;
    right: 5px;
    z-index: 1060
}

.sl-spinner {
    -moz-animation: pulsate 1s ease-out infinite;
    -ms-animation: pulsate 1s ease-out infinite;
    -o-animation: pulsate 1s ease-out infinite;
    -webkit-animation: pulsate 1s ease-out infinite;
    animation: pulsate 1s ease-out infinite;
    border: 5px solid #333;
    border-radius: 40px;
    display: none;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    opacity: 0;
    position: fixed;
    top: 50%;
    width: 40px;
    z-index: 1007
}

.sl-scrollbar-measure {
    height: 50px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
    width: 50px
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0;
        transform: scale(.1)
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: scale(1.2)
    }
}

@keyframes pulsate {
    0% {
        opacity: 0;
        transform: scale(.1)
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: scale(1.2)
    }
}

@-moz-keyframes pulsate {
    0% {
        opacity: 0;
        transform: scale(.1)
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: scale(1.2)
    }
}

@-o-keyframes pulsate {
    0% {
        opacity: 0;
        transform: scale(.1)
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: scale(1.2)
    }
}

@-ms-keyframes pulsate {
    0%,
    100% {
        opacity: 0
    }
    0% {
        transform: scale(.1)
    }
    50% {
        opacity: 1
    }
    100% {
        transform: scale(1.2)
    }
}